os: linux
language: r
sudo: required
before_install:
- sudo add-apt-repository ppa:texlive-backports/ppa -y
- sudo apt-get update
- sudo apt-get install texlive-lang-german -y
- tlmgr install ngerman
script:
- cat README.md | grep --invert-match "\[\!\[" > README2.md
- cat README2.md | grep --invert-match "Howto Deploy LaTeX Documents" > README.md
- pandoc -s --from=markdown_github --to=latex -M title="Howto Deploy LaTeX Documents"
  -M author="Simon Waldherr" -V geometry:a4paper,margin=2cm -o README.tex README.md
- pwd
- ls -al
- pandoc --toc -N config.yaml --data-dir=$TRAVIS_BUILD_DIR --template=default.tex -o team12.pdf team12.md
- pdflatex -interaction=nonstopmode HowtoDeployLatexDocs-DE.tex
after_success: 
deploy:
  api-key:
    secure: JZkHqlyJdTfw6CxtB1+OX5VvRyjeLyN77BaQwM0RcaUvBe2JtF1WyYIyFFmMFFJ/JM+xtAgTAjJM0eu87CwMVui+3OECD+S6Q2GFI4A+5P6fysPohj+Mx/mcLf/LM+KwI0JErrdWyjVDLddKnen+Mc/mXdyuWLOjMbTalu7EiVNUVWhP/fqM25vHIoR1Gn3OMy9rixBi3rjTEVegg3ZkP1R8l7akc9mI1PPzJ7ms9xq+7fUruPSS+4V2zh4OwNKGFFEYVRfKcsZt89+Vs19bEhXhS+cKCR5Xixn0vv/N3kUUhbPIIs6lOCFZwCCRmIfox1oNNteqGtconImrPI6B9q3xR8zogm+vWd3FYRBk47pakL/VzxH1AwPkwleQDFgp43VHgKngbdDq/nLCQr2CscbvYYx6fvOePqEvFVnZW5RATQs5F/TxEO+wsErdjrrvpWbFULiy6Ap5VnKTwUGsRMBIlZwc9MUw09rMTX71SIGn2QvgsS3M8Y4yVoEa2V2XS09m3ekU3B+j9FmnvqlkdBhAnJIS0n6//yZn1DPpEU8Z/lclEepcERFr3yiU00Zn0vrQVjEI5arxHEGJDrJCBwDXGBd7eE6RS9ozeC5reMRpe4XNuoxC8rdrQGfwJUrTd1S3E6oIDIukWnW1ekvPVu42l5uNa9+0E1z8t2Cxt6w=
  provider: releases
  skip_cleanup: true
  on:
    tags: true
    repo: itchyaut22/HowTo-Deploy-LaTeX-Documents
  file: 
    - "HowtoDeployLatexDocs-DE.pdf"
    - "team12.pdf"
